<div class="container">
<h1>All Restaurant</h1>
<br />

<%= link_to "Add Restaurant", new_restaurant_path %>

<br />
<br />

<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
</div>
